{% extends 'base.html.twig' %}

{% block titulo %} {{ parent() }} - Inicio {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/home.min.css?n=1') }}" type="text/css">
{% endblock %}

{% block body %}    
{% endblock %}

{% block javascript_body %}
    {{ parent() }}
    <script type="module" src="{{ asset('assets/js/home.js?n=1') }}"></script>
{% endblock %}
