{% extends 'base.html.twig' %}

{% block titulo %} {{ parent() }} - Pasados {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/eventos.min.css?n=1') }}" type="text/css">
{% endblock %}

{% block body %}   
{% endblock %}

{% block javascript_body %}
    {{ parent() }}
    <script type="module" src="{{ asset('assets/js/status.js?n=1') }}"></script>
{% endblock %}
