{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Admin{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/crud.min.css') }}" type="text/css">
{% endblock %}

{% block head %}
        <header class="admin">
            <div class="title"><a href="{{ path('index') }}"><h1>Eventmaster</h1></a></div>
            <div class="icon"><a class="logout" href="#"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></div>
        </header>
{% endblock head %}

{% block body %}
    <div class="aside">
        <button class="allEvents active">Ver todos los eventos</button>
        <button class="addEvents">Agregar nuevo evento</button>
    </div>
    <div class="main"></div>    
{% endblock %}
{% block javascript_body %}
    <script type="module" src="{{ asset('assets/js/crud.js?n=1') }}"></script>
{% endblock %}
