{% extends 'base.html.twig' %}

{% block titulo %}{{ parent() }} - Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/login.min.css?n=1') }}" type="text/css">
{% endblock %}

{% block head %}
{% endblock head %}

{% block body %}
    <form id="form">
        <h2>Bienvenido</h2>
        <h4>Iniciar sesión</h4>
        <div class="datos">
            <input type="text" id="email" placeholder="Correo"/>
            <div class="password">
                <input type="password" id="password" placeholder="Contraseña"/>
                <i class="fa-solid fa-eye ojo"></i>
            </div>
            <button type="submit">Login</button>
        </div> 
        <hr>
        <span class="registro">¿Aún no tienes una cuenta? <a href="/registro">Registrate aquí</a></span>
        <a class="home" href="/"><i class="fa-solid fa-arrow-left"></i>Volver a Eventmaster</a>
        <hr class="errores oculto">
        <h4 class="errores errors oculto error-message"></h4>
    </form>
{% endblock %}

{% block javascript_body %}
    <script type="module" src="{{ asset('assets/js/login.js?n=1') }}"></script>
{% endblock %}