.centrado {
  z-index: 1000;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background: #363636;
  opacity: 0.97;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
  -webkit-animation: lds-spinner 1.2s linear infinite;
          animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15.625rem), 1fr));
  grid-gap: 10px;
}
.form .content_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form .content_div div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.form input, .form textarea {
  font-weight: 300;
  padding: 0 10px;
  line-height: 30px;
  border: 2px solid #dee2e6;
  border-radius: 5px;
  outline: none;
}
.form input:focus, .form textarea:focus {
  border: 2px solid #0d6efd;
}
.form label {
  font-weight: 200;
  margin-bottom: 5px;
}
.form textarea {
  resize: vertical;
  min-height: 60px;
  max-height: 200px;
}
.form .wrong_input {
  border: 2px solid #df4759;
}
.form .wrong_input:focus {
  border: 2px solid #df4759;
}

.btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background: #198754;
  width: 20%;
  padding: 10px 0;
  border: none;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 20px;
}
.btn-submit:hover {
  background: #21a869;
}

body {
  background: #ececec;
}
body main {
  width: 90%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body main .aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  background: -webkit-gradient(linear, left bottom, left top, from(#00c6fb), to(#005bea));
  background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  border-radius: 5px 0 0 5px;
  padding: 20px 5px;
}
body main .aside button {
  border: none;
  border-radius: 20px;
  background: #2f80f8;
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-bottom: 20px;
  cursor: pointer;
}
body main .aside button:hover {
  background: #fff;
  color: #2f80f8;
}
body main .aside .active {
  background: #fff;
  color: #2f80f8;
}
body main .main {
  width: 80%;
  background: #fff;
  border-radius: 0 5px 5px 0;
  padding: 30px;
  overflow: scroll;
}
body main .main .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body main .main .add h2 {
  text-align: center;
  font-weight: 300;
  margin-bottom: 10px;
}
body main .main .add h3 {
  font-weight: 500;
  margin: 10px 0;
}
body main .main .table-dark {
  background: #343a40;
  color: #fff;
  border-color: #373b3e;
}
body main .main .table {
  width: 100%;
  vertical-align: top;
}
body main .main table {
  caption-side: bottom;
  border-collapse: collapse;
}
body main .main table thead {
  background: #212529;
  border-bottom: 2px solid #fff;
}
body main .main table thead tr th {
  padding: 10px;
}
body main .main table tbody tr {
  border-bottom: 1px solid #cecece;
}
body main .main table tbody tr td {
  padding: 10px;
  text-align: center;
}
body main .main table tbody .img {
  width: 100px;
}
body main .main table tbody .img img {
  width: 100%;
}
body main .main table tbody .acciones .btn-edit,
body main .main table tbody .acciones .btn-delete {
  padding: 5px;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 0 3px;
  cursor: pointer;
}
body main .main table tbody .acciones .btn-edit i,
body main .main table tbody .acciones .btn-delete i {
  pointer-events: none;
}
body main .main table tbody .acciones .btn-edit {
  background: #0d6efd;
}
body main .main table tbody .acciones .btn-edit:hover {
  background: #3e86f3;
}
body main .main table tbody .acciones .btn-delete {
  background: #df4759;
}
body main .main table tbody .acciones .btn-delete:hover {
  background: #eb6c7a;
}