main {
  width: 85%;
}
main .detalles-evento {
  -webkit-box-shadow: 8px 8px 5px 1px #cecece;
          box-shadow: 8px 8px 5px 1px #cecece;
  border: 1px solid #dee2e6;
  border-radius: 10px;
}
main .detalles-evento .titulo-evento {
  background: #af50e5;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
}
main .detalles-evento .titulo-evento h2 {
  color: #fff;
  font-weight: 700;
}
main .detalles-evento .detalles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .detalles-evento .detalles p {
  font-weight: 300;
}
main .detalles-evento .detalles .right-detail,
main .detalles-evento .detalles .left-detail {
  padding: 10px 20px;
  width: 50%;
}
main .detalles-evento .detalles .right-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .detalles-evento .detalles .right-detail .imagen {
  width: 60%;
}
main .detalles-evento .detalles .right-detail .imagen img {
  width: 100%;
}
main .detalles-evento .detalles .left-detail {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
main .detalles-evento .detalles .left-detail .price {
  color: #5b0672;
}