.form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15.625rem), 1fr));
  grid-gap: 10px;
}
.form .content_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form .content_div div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.form input, .form textarea {
  font-weight: 300;
  padding: 0 10px;
  line-height: 30px;
  border: 2px solid #dee2e6;
  border-radius: 5px;
  outline: none;
}
.form input:focus, .form textarea:focus {
  border: 2px solid #0d6efd;
}
.form label {
  font-weight: 200;
  margin-bottom: 5px;
}
.form textarea {
  resize: vertical;
  min-height: 60px;
  max-height: 200px;
}
.form .wrong_input {
  border: 2px solid #df4759;
}
.form .wrong_input:focus {
  border: 2px solid #df4759;
}

.btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background: #198754;
  width: 20%;
  padding: 10px 0;
  border: none;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 20px;
}
.btn-submit:hover {
  background: #21a869;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}
body .alerta {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 20px;
  max-width: 30%;
  min-width: 300px;
}
body .alerta .alert {
  position: relative;
  padding: 1rem 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
body .alerta .alert-success {
  color: #2d7345;
  background-color: #dbf2e3;
  border-color: #c9ecd5;
}
body .alerta .alert-danger {
  color: #82322f;
  background-color: #f7dddc;
  border-color: #f4cbca;
}
body .alerta .alert-info {
  color: #135d7c;
  background-color: #d2ebf5;
  border-color: #bce1f1;
}
body .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 110;
  height: 100vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #343a40;
  --opacity: 0;
  --pointer: none;
  opacity: var(--opacity);
  pointer-events: var(--pointer);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
body .modal .modal-content {
  border-radius: 1rem;
  width: 90%;
  max-width: 900px;
  max-height: 80%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .modal .modal-content .modal-header {
  padding: 10px;
  border-radius: 1rem 1rem 0 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#00c6fb), to(#005bea));
  background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
body .modal .modal-content .modal-header h3 {
  color: #fff;
  font-weight: 700;
  text-align: center;
}
body .modal .modal-content .modal-body {
  padding: 20px;
  overflow: scroll;
}
body .modal .modal-content .modal-footer {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #dee2e6;
}
body .modal .modal-content .modal-footer .btn-cancelar {
  background: #df4759;
}
body .modal .modal-content .modal-footer .btn-cancelar:hover {
  background: #eb6c7a;
}
body .modal .modal-content .modal-footer .btn-actualizar {
  background: #198754;
}
body .modal .modal-content .modal-footer .btn-actualizar:hover {
  background: #21a869;
}
body .modal .modal-content .modal-footer button {
  border: none;
  border-radius: 8px;
  color: #fff;
  padding: 10px 20px;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
body .modal-active {
  --opacity: 1;
  --pointer: unset;
}
body .modal-active .modal-content {
  -webkit-animation: show 1s 0.5s backwards;
          animation: show 1s 0.5s backwards;
}
body .oculto {
  display: none !important;
}
@-webkit-keyframes show {
  0% {
    -webkit-transform: translateY(-150vh);
            transform: translateY(-150vh);
  }
}
@keyframes show {
  0% {
    -webkit-transform: translateY(-150vh);
            transform: translateY(-150vh);
  }
}

header {
  height: 5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  top: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#00c6fb), to(#005bea));
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  z-index: 100;
}
header .title,
header .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .title {
  padding-left: 20px;
  width: 90%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
header .title a {
  color: #fff;
  text-decoration: none;
}
header .title a h1 {
  cursor: pointer;
  font-weight: 500;
  margin: 0;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
header .title a h1:hover {
  color: #C9C9C9;
}
header .icon {
  width: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .icon a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
header .icon a:hover {
  color: #C9C9C9;
}
header .icon a i {
  pointer-events: none;
  text-align: center;
}
header .icon a span {
  pointer-events: none;
  font-size: 1rem;
}

.admin {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#868686), to(#1d1e20));
  background-image: linear-gradient(to top, #868686 0%, #1d1e20 100%);
}

main {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}
main .errors {
  text-align: center;
  color: #df4759;
  font-weight: 300;
}
main .success {
  text-align: center;
  color: #198754;
  font-weight: 300;
}
main .oculto {
  display: none;
}

.event {
  background: #ececec;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.event:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 0 10px 5px #cecece;
          box-shadow: 0 0 10px 5px #cecece;
}
.event .event_image {
  height: 14rem;
  pointer-events: none;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.event .event_image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.event .event_details {
  pointer-events: none;
  padding: 10px 0;
}
.event .event_details p {
  font-weight: 200;
}
.event .event_details h4 {
  font-weight: 700;
}
.event .event_details p, .event .event_details h4 {
  margin: 0 15px;
}