.contenedor_eventos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 150px), 1fr));
  grid-gap: 20px;
}
.contenedor_eventos .event .event_image {
  height: 10rem;
}
.contenedor_eventos .event .event_details p, .contenedor_eventos .event .event_details h4 {
  margin: 0 10px;
  font-size: 0.8rem;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navigation .pagination {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation .pagination .page-item .page-link {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  position: relative;
  display: block;
  color: #0d6efd;
  border: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.navigation .pagination .page-item .page-link:hover {
  background-color: #ececec;
}
.navigation .pagination .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  background-color: #fff;
  border-color: #dee2e6;
}
.navigation .pagination .page-item:first-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.navigation .pagination .page-item:not(:first-child) .page-link {
  margin-left: -1px;
}
.navigation .pagination .page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.navigation .pagination .page-item.active .page-link {
  cursor: default;
  z-index: 3;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}