main {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}
main .title_events {
  width: 100%;
  margin-bottom: 10px;
  background: #4a4955;
  border-radius: 5px;
}
main .title_events h2 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}
main .content_events {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
  grid-gap: 10px;
}
main .footer_events {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .footer_events a {
  border-radius: 3px;
  margin: 0 auto;
  padding: 10px 30px;
  text-decoration: none;
  background: #0d6efd;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
main .footer_events a:hover {
  background: #fff;
  color: #0d6efd;
}