body {
  background: #ececec;
  height: 100vh;
}
body main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main .login {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  -webkit-box-shadow: 0 0 20px 1px #cecece;
          box-shadow: 0 0 20px 1px #cecece;
}
body main .login h2 {
  text-align: center;
  font-weight: 500;
}
body main .login h4 {
  text-align: center;
  font-weight: 300;
}
body main .login .datos {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
body main .login .datos input {
  padding: 0 10px;
  line-height: 30px;
  border: 2px solid #dee2e6;
  border-radius: 5px;
  outline: none;
}
body main .login .datos input:focus {
  border: 2px solid #0d6efd;
}
body main .login .datos button {
  font-weight: 500;
  cursor: pointer;
  padding: 10px 0;
  background: #0d6efd;
  border-radius: 25px;
  border: none;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: background 0.75s ease;
  transition: background 0.75s ease;
}
body main .login .datos button:hover {
  background: #4d94ff;
}
body main .login hr {
  border: 1px solid #dee2e6;
}
body main .login .registro {
  font-size: 14px;
  font-weight: 200;
}
body main .login .registro a {
  text-decoration: none;
}
body main .login .home {
  text-decoration: none;
  text-align: center;
}
body main .login .message-error {
  text-align: center;
  color: #df4759;
}