body {
  background: #ececec;
  height: 100vh;
}
body main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main form {
  max-width: 40%;
  min-width: 19.6875rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  background: #fff;
  border-radius: 5px;
  padding: 40px;
  -webkit-box-shadow: 0 0 20px 1px #cecece;
          box-shadow: 0 0 20px 1px #cecece;
}
body main form h2 {
  text-align: center;
  font-weight: 500;
}
body main form input {
  width: 100%;
  font-weight: 300;
  padding: 0 10px;
  line-height: 30px;
  border: 2px solid #dee2e6;
  border-radius: 5px;
  outline: none;
}
body main form input:focus {
  border: 2px solid #0d6efd;
}
body main form input[type=submit] {
  font-weight: 500;
  cursor: pointer;
  padding: 10px 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#00c6fb), to(#005bea));
  background: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
  border-radius: 25px;
  border: none;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: background 0.75s ease;
  transition: background 0.75s ease;
}
body main form input[type=submit]:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#005bea), to(#00c6fb));
  background: linear-gradient(to top, #005bea 0%, #00c6fb 100%);
}
body main form hr {
  border: 1px solid #dee2e6;
}
body main form .password {
  position: relative;
}
body main form .password .ojo {
  position: absolute;
  right: 10px;
  top: 25%;
  z-index: 100;
  font-size: 16px;
  color: #0d6efd;
  cursor: pointer;
}
body main form .login {
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}
body main form .login a {
  text-decoration: none;
}
body main form .home {
  text-decoration: none;
  text-align: center;
}