{% extends 'base.html.twig' %}

{% block titulo %}{{ parent() }} - Registro{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/registro.min.css?n=1') }}" type="text/css">
{% endblock %}

{% block head %}
{% endblock head %}

{% block body %}
    <form id="form">
        <h2>Crear Cuenta</h2>
        <input type="text" id="user" placeholder="Usuario"/>
        <input type="text" id="email" placeholder="Correo"/>
        <div class="password">
            <input type="password" id="password" placeholder="Contraseña"/>
            <i class="fa-solid fa-eye ojo"></i>
        </div>
        <input value="Registrarse" type="submit"/>
        <hr>
        <span class="login">¿Ya tienes una cuenta? <a href="/sign-in">Ingresa aquí</a></span>
        <a class="home" href="/"><i class="fa-solid fa-arrow-left"></i> Volver a Eventmaster</a>
        <hr class="errores oculto">
        <h4 class="errores errors oculto error-message"></h4>
        <h4 class="success oculto"></h4>
    </form>
{% endblock %}

{% block javascript_body %}
    <script type="module" src="{{ asset('assets/js/registro.js?n=1') }}"></script>
{% endblock %}