<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %} Eventmaster {% endblock %}
    </title>    
    {% block stylesheets %}
        <link rel="shortcut icon" href="#">
        <link rel="stylesheet" href="{{ asset('assets/css/estilos.min.css?n=1') }}" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;500&display=swap" rel="stylesheet"> 
        <link href="{{ asset('assets/icons/css/all.min.css') }}" rel="stylesheet"> 
    {% endblock %}
</head>
<body>
    {# Loader #}
    <div class="centrado" id="loader">
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    {# MODAL #}
    <div class="modal" id="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Actualizar evento</h3>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn-cancelar">Cancelar</button>
                <button type="button" class="btn-actualizar">Actualizar</button>
            </div>
        </div>
    </div>
    {% block head %}
        <header>
            <div class="title"><a href="{{ path('index') }}"><h1>Eventmaster</h1></a></div>
        </header>
    {% endblock head %}        
    <main>
        {% block body %}
        {% endblock %}
    </main>
    <div class="alerta oculto" id="alerta"></div>  
    {% block javascript_body %}
        <script type="module" src="{{ asset('assets/js/main.js?n=1') }}"></script>
    {% endblock %}
</body>
</html>