@import 'variables'

.event
        background: $fondosuave
        cursor: pointer
        border-radius: 5px
        transition: all .5s ease
        &:hover
            transform: scale(1.02)
            box-shadow: 0 0 10px 5px #cecece
        .event_image
            height: 14rem
            pointer-events: none
            border-radius: 8px 8px 0 0
            overflow: hidden
            img
                height: 100%
                width: 100%
                object-fit: contain
        .event_details
            pointer-events: none
            padding: 10px 0
            p
                font-weight: 200
            h4
                font-weight: 700
            p,h4
                margin: 0 15px