.form
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15.625rem), 1fr))
    grid-gap: 10px                    
    .content_div
        display: flex
        flex-direction: column
        div
            display: grid
            grid-template-columns: 1fr 1fr
            grid-gap: 10px
    input, textarea
        font-weight: 300
        padding: 0 10px
        line-height: 30px 
        border: 2px solid $bordercolor  
        border-radius: 5px
        outline: none
        &:focus 
            border: 2px solid $butoncolor 
    label
        font-weight: 200
        margin-bottom: 5px
    textarea
        resize: vertical
        min-height: 60px
        max-height: 200px
    .wrong_input
        border: 2px solid $dangercolor 
        &:focus                                
            border: 2px solid $dangercolor 
.btn-submit
    display: flex
    cursor: pointer
    background: $succescolor
    width: 20%
    padding: 10px 0
    border: none
    color: #fff
    font-weight: 500
    border-radius: 8px
    margin: 0 auto
    margin-top: 20px
    &:hover
        background: $succescolorH