@import 'variables'
@import 'form'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    
body
    font-family: 'Mulish', sans-serif
    .alerta
        position: fixed
        z-index: 9999
        bottom: 20px
        right: 20px
        max-width: 30%
        min-width: 300px
        .alert 
            position: relative
            padding: 1rem 1rem
            padding-right: 1rem
            margin-bottom: 1rem
            border: 1px solid transparent
            border-top-color: transparent
            border-right-color: transparent
            border-bottom-color: transparent
            border-left-color: transparent
        .alert-success
            color: #2d7345
            background-color: #dbf2e3
            border-color: #c9ecd5
        .alert-danger
            color: #82322f
            background-color: #f7dddc
            border-color: #f4cbca
        .alert-info
            color: #135d7c
            background-color: #d2ebf5
            border-color: #bce1f1
    .modal
        display: flex
        position: fixed
        z-index: 110
        height: 100vh
        width: 100vw
        justify-content: center
        align-items: center
        background: #343a40
        --opacity: 0
        --pointer: none
        opacity: var(--opacity)
        pointer-events: var(--pointer)
        transition: opacity .5s        
        .modal-content
            border-radius: 1rem
            width: 90%
            max-width: 900px
            max-height: 80%
            background: #fff
            display: flex
            flex-direction: column
            .modal-header 
                padding: 10px
                border-radius: 1rem 1rem 0 0
                background: $maincolor
                h3
                    color: #fff
                    font-weight: 700                    
                    text-align: center
            .modal-body 
                padding: 20px
                overflow: scroll
            .modal-footer
                padding: 10px 0
                display: flex
                justify-content: space-evenly
                align-items: center
                border-top: 2px solid $bordercolor
                .btn-cancelar
                    background: $dangercolor
                    &:hover
                        background: $dangercolorH
                .btn-actualizar
                    background: $succescolor
                    &:hover
                        background: $succescolorH
                button
                    border: none
                    border-radius: 8px
                    color: #fff
                    padding: 10px 20px
                    transition: background .5s ease
    .modal-active
            --opacity: 1
            --pointer: unset
            .modal-content
                animation: show 1s .5s backwards
    .oculto
        display: none!important
    @keyframes show
        0%
            transform: translateY(-150vh)