@import 'variables'

header
    height: 5rem
    width: 100%
    display: flex
    position: sticky
    top: 0
    background-image: $maincolor
    z-index: 100
    .title,
    .icon
        display: flex
        align-items: center
    .title
        padding-left: 20px
        width: 90%
        justify-content: start
        a
            color: #fff 
            text-decoration: none
            h1
                cursor: pointer
                font-weight: 500
                margin: 0
                transition: all .75s ease
                &:hover
                    color: #C9C9C9
    .icon
        width: 10%
        justify-content: center
        a
            text-decoration: none
            display: flex
            flex-direction: column
            font-size: 1.5rem
            color: #fff
            cursor: pointer
            transition: all .75s ease
            &:hover
                color: #C9C9C9
            i
                pointer-events: none
                text-align: center
            span
                pointer-events: none
                font-size: 1rem
.admin
    background-image: $admincolor

