@import 'variables'

main
    width: 70%
    margin: 0 auto
    padding: 20px
    .errors
        text-align: center
        color: $dangercolor
        font-weight: 300
    .success
        text-align: center
        color: $succescolor
        font-weight: 300
    .oculto
        display: none