@import 'variables'
@import 'loader'
@import 'form'

body
    background: $fondosuave
    main
        width: 90%
        height: 85%
        display: flex
        .aside
            display: flex
            flex-direction: column
            width: 20%
            background: $maincolor
            border-radius: 5px 0 0 5px
            padding: 20px 5px
            button
                border: none
                border-radius: 20px
                background: #2f80f8
                text-align: center
                padding: 10px 20px
                color: #fff
                transition: all .5s ease
                margin-bottom: 20px
                cursor: pointer
                &:hover
                    background: #fff
                    color: #2f80f8
            .active
                background: #fff
                color: #2f80f8
        .main
            width: 80%
            background: #fff
            border-radius: 0 5px 5px 0
            padding: 30px
            overflow: scroll
            .add
                display: flex
                align-content: center
                flex-direction: column
                justify-content: center
                h2
                    text-align: center
                    font-weight: 300
                    margin-bottom: 10px
                h3
                    font-weight: 500
                    margin: 10px 0
            .table-dark
                background: #343a40
                color: #fff
                border-color: #373b3e
            .table
                width: 100%
                vertical-align: top
            table 
                caption-side: bottom
                border-collapse: collapse
                thead
                    background: #212529
                    border-bottom: 2px solid #fff
                    tr
                        th
                            padding: 10px
                tbody
                    tr
                        border-bottom: 1px solid #cecece
                        td
                            padding: 10px
                            text-align: center
                    .img
                        width: 100px
                        img
                            width: 100%
                    .acciones
                        .btn-edit,
                        .btn-delete
                            padding: 5px
                            color: #fff
                            border: none
                            border-radius: 5px
                            margin: 0 3px
                            cursor: pointer
                            i
                                pointer-events: none
                        .btn-edit
                            background: $butoncolor
                            &:hover
                                background: $butoncolorH
                        .btn-delete
                            background: $dangercolor
                            &:hover
                                background: $dangercolorH