main
    width: 85% 
    .detalles-evento
        box-shadow: 8px 8px 5px 1px #cecece 
        border: 1px solid #dee2e6
        border-radius: 10px
        .titulo-evento
            background: #af50e5
            padding: 10px 20px
            border-radius: 10px 10px 0 0
            h2
                color: #fff
                font-weight: 700
        .detalles    
            p
                font-weight: 300
            display: flex
            .right-detail,
            .left-detail
                padding: 10px 20px
                width: 50%
            .right-detail
                display: flex
                align-items: center
                justify-content: center
                .imagen
                    width: 60%
                    img
                        width: 100%
            .left-detail
                display: grid
                grid-template-columns: 1fr
                grid-gap: 10px
                .price
                    color: #5b0672