@import 'variables'

.contenedor_eventos
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 150px), 1fr))
    grid-gap: 20px 
    .event
        .event_image
            height: 10rem
        .event_details
            p, h4
                margin: 0 10px
                font-size: .8rem
.navigation        
    display: flex
    margin-top: 1rem
    justify-content: center
    .pagination
        list-style: none
        display: flex
        .page-item
            .page-link
                font-size: 1rem
                cursor: pointer
                padding: .375rem .75rem
                position: relative
                display: block
                color: #0d6efd
                border: none
                background-color: #fff
                border: 1px solid #dee2e6
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
                &:hover
                    background-color: $fondosuave 
        .page-item.disabled 
            .page-link 
                color: #6c757d
                pointer-events: none
                background-color: #fff
                border-color: #dee2e6
        .page-item:first-child 
            .page-link 
                border-top-left-radius: .25rem
                border-bottom-left-radius: .25rem
        .page-item:not(:first-child) 
            .page-link 
                margin-left: -1px
        .page-item:last-child 
            .page-link 
                border-top-right-radius: .25rem
                border-bottom-right-radius: .25rem
        .page-item.active .page-link 
                cursor: default
                z-index: 3
                color: #fff
                background-color: #0d6efd
                border-color: #0d6efd