@import 'variables'
    
main
    width: 90%
    display: grid
    grid-template-columns: 1fr
    grid-gap: 40px
    .title_events
        width: 100%
        margin-bottom: 10px
        background: #4a4955
        border-radius: 5px
        h2
            color: #fff
            text-align: center 
            font-weight: 300   
    .content_events
        display: grid
        grid-template-columns: repeat(auto-fill,minmax(min(100%, 200px), 1fr))
        grid-gap: 10px     
    .footer_events
        margin-top: 20px
        display: flex
        align-items: center
        a
            border-radius: 3px
            margin: 0 auto
            padding: 10px 30px
            text-decoration: none
            background: $butoncolor
            color: #fff
            transition: all .5s ease
            &:hover
                background: #fff
                color: $butoncolor