@import "variables"

body
    background: $fondosuave
    height: 100vh
    main
        min-height: 100vh
        display: flex
        justify-content: center
        align-items: center
        form
            display: grid
            grid-template-columns: 1fr
            grid-gap: 20px
            background: #fff
            border-radius: 5px
            padding: 40px
            box-shadow: 0 0 20px 1px #cecece
            h2
                text-align: center
                font-weight: 500
            h4
                text-align: center
                font-weight: 300
            .datos
                display: grid
                grid-template-columns: 1fr
                grid-gap: 20px
                input
                    width: 100%
                    font-weight: 300
                    padding: 0 10px
                    line-height: 30px 
                    border: 2px solid $bordercolor  
                    border-radius: 5px
                    outline: none
                    &:focus 
                        border: 2px solid $butoncolor  
                button
                    font-weight: 500
                    cursor: pointer
                    padding: 10px 0
                    background: $maincolor
                    border-radius: 25px
                    border: none
                    color: #fff
                    width: 100%    
                    margin: 0 auto
                    transition: background .75s ease
                    &:hover
                        background: $maincolorinverse 
                .password
                    position: relative
                    .ojo
                        position: absolute
                        right: 10px
                        top: 25%
                        z-index: 100
                        font-size: 16px
                        color: $butoncolor
                        cursor: pointer
            hr
                border: 1px solid $bordercolor
            .registro 
                font-size: 14px
                font-weight: 200
                a
                    text-decoration: none
            .home
                text-decoration: none
                text-align: center